/* Oooo Baby */
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
/* Noto Sans Korean */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Oooh+Baby&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.logo {
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
  font-style: normal;
}
